.pointsBar {
    background-color: #aaa;
    padding: 4px;
}
.pointsBar .points {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    min-width: 150px;
}
.itemPoints {
    color: white;
}
.magicPoints {
    color: #fc4;
}
.rarePoints {
    color: #c4f;
}
.uniquePoints {
    color: #4cf;
}
.controlColumn {
    width: 240px;
    display: inline-block;
    background-color: grey;
    box-sizing: border-box;
    border-right: 2px solid black;
    height: 800px;
    vertical-align: top;
}
.playerColumn {
    width: 720px;
    display: inline-block;
    background-color: grey;
    box-sizing: border-box;
    height: 800px;
    vertical-align: top;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.playerControlBar {
    height: 30px;
    padding: 3px;
    box-sizing: border-box;
}
.controlBarEntry {
    margin-right: 5px;
}
.recallButton {
    font-size: .6em;
}
.playerPanel {
    height: 270px;
    background-color: white;
    margin: 5px;
}
.playerPanel .infoMode {
    position: relative;
    width: 800px;
}
.infoPanel {
    min-height: 200px;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}
.toolbar {
    padding: 1px;
    height: 60px;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}
.inventory {
    padding: 4px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 540px;
    box-sizing: border-box;
}

.jewel-inventory {
    padding: 5px;
    padding-right:0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 540px;
    box-sizing: border-box;
}

.jewel, .jewelCraftingSlot {
    width: 68px;
    height: 68px;
    margin-right: 4px;
    margin-bottom: 4px;
    background-color: white;
    display: inline-block;
    /* For some reason drag and drop messes up v-align without this. */
    vertical-align: middle;
}

.map {
    display: inline-block;
    vertical-align: top;
}

.item {
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: white;
    box-sizing: border-box;
    cursor: pointer;
    padding: 2px;
}
.item.enchanted {
    background-color: #ffa;
}
.item.imbued {
    background-color: #f8f;
}
button.item {
    padding: 0px;
}
.inventory > .item {
    margin-right: 3px;
    margin-bottom: 3px;
}
button {
    cursor: pointer;
    background-color: #ccc;
}

.playerBox {
    font-size: 1em;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    width: 225px;
    height: 236px;
    display: inline-block;
    border: 1px solid black;
    vertical-align: top;
    margin: 2px;
    margin-right: 1px;
    overflow-y: auto;
    overflow-x: hidden;
}
.stats {
    padding-left: 60px;
}
.triStatBox {
    position: absolute;
    top: 110px;
    left: 0px;
    width: 64px;
    height: 30px;
}
.dexterity {
    position: absolute;
    text-align: right;
    right: 34px;
    top: 15px;
    color: #0f0;
}
.strength {
    position: absolute;
    color: #f00;
    text-align: center;
    width: 64px;
    left: 0px;
    top: 0px;
}
.intelligence {
    position: absolute;
    color: #00f;
    left: 34px;
    top: 15px;
}

.characterPreview {
    float: left;
}

.equipment {
    position: relative;
}

.jewelBoard {
    position: relative;
}

.equipment > .head {
    position: absolute;
    left: 90px;
    top: 5px;
}
.equipment > .body {
    position: absolute;
    left: 90px;
    top: 60px;
}
.equipment > .legs {
    position: absolute;
    left: 90px;
    top: 115px;
}
.equipment > .feet {
    position: absolute;
    left: 90px;
    top: 170px;
}
.equipment > .weapon {
    position: absolute;
    left: 35px;
    top: 90px;
}
.equipment > .arms {
    position: absolute;
    left: 35px;
    top: 145px;
}
.equipment > .back {
    position: absolute;
    left: 145px;
    top: 35px;
}
.equipment > .offhand {
    position: absolute;
    left: 145px;
    top: 90px;
}
.equipment > .ring {
    position: absolute;
    left: 145px;
    top: 145px;
}

.icon {
    background-image: url('gfx/iconSet.png');
    background-size: 620px 140px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: -200px -80px;
}

.itemSlot {
    background-color: #aaaaaa;
    height: 50px;
    width: 50px;
    padding: 2px;
    box-sizing: border-box;
}
.itemSlot.active {
    background-color: #88ff88;
}
.itemSlot.invalid {
    background-color: #ff8888;
}
.enchantmentSlot {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
.icon.armor {
    background-position: -20px -20px;
}
.icon.bow {
    background-position: -80px -20px;
}
.icon.club {
    background-position: -140px -20px;
}
.icon.glove {
    background-position: -200px -20px;
}
.icon.shield {
    background-position: -320px -20px;
}
.icon.sword {
    background-position: -380px -20px;
}
.icon.boots {
    background-position: -440px -20px;
}
.icon.bag {
    background-position: -500px -20px;
}
.icon.hat {
    background-position: -560px -20px;
}
.icon.axe {
    background-position: -20px -80px;
}
.icon.wand {
    background-position: -80px -80px;
}
.icon.anvil {
    background-position: -140px -80px;
}

.toolTip {
    position: absolute;
    padding: 5px;
    width: 220px;
    font-size: 16px;
    border: 1px solid #204070;
    box-sizing: border-box;
    background-color: rgba(100, 200, 100, .9);
    border-radius: 4px;
    z-index: 100;
}
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.adventure {
    display: block;
    font-size: 1em;
}

.adventureButton {
    margin-right: 3px;
}

select {
    font-size: 20px;
}
button {
    font-size: .8em;
    padding: 2px;
}
.learnSkill {
    font-size: .6em;
}
.infoPanel {
    padding: 5px;
}
.infoPanel div {
    margin-bottom: 5px;
}

.itemCraftingSelect {
    width: 100px;
}

label {
    cursor: pointer;
}
button.disabled {
    opacity: .5;
}

.formulaStat {
    font-weight: bold;
    font-size: .8em;
    font-style: italic;
}

.buffText {
    padding: 5px;
    background-color: rgba(200, 200, 50, .9);
    border: 1px solid white;
}
.abilityText {
    padding: 5px;
    background-color: rgba(50, 200, 200, .9);
    border: 1px solid white;
}