
.controlColumn {
    width: 240px;
    display: inline-block;
    background-color: grey;
    box-sizing: border-box;
    border-right: 2px solid black;
    height: 800px;
    vertical-align: top;
}
.playerColumn {
    width: 720px;
    display: inline-block;
    background-color: grey;
    box-sizing: border-box;
    height: 800px;
    vertical-align: top;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.playerPanel {
    height: 240px;
    background-color: white;
    margin: 5px;
}
.infoPanel {
    min-height: 200px;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}
.toolbar {
    padding: 2px;
    height: 60px;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}
.inventory {
    padding: 4px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 540px;
    box-sizing: border-box;
}

.item {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: white;
    box-sizing: border-box;
    padding: 4px;
}
.inventory .item {
    margin-right: 3px;
    margin-bottom: 3px;
}
button {
    cursor: pointer;
}

.playerBox {
    font-size: 18px;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    width: 224px;
    height: 236px;
    display: inline-block;
    border: 1px solid black;
    vertical-align: top;
    margin: 2px;
    margin-right: 1px;
    overflow-y: auto;
    overflow-x: hidden;
}
.playerBox .dexterity {
    position: absolute;
    text-align: right;
    right: 190px;
    top: 125px;
    color: #0f0;
}
.strength {
    position: absolute;
    color: #f00;
    text-align: center;
    width: 64px;
    left: 0px;
    top: 110px;
}
.intelligence {
    position: absolute;
    color: #00f;
    left: 40px;
    top: 125px;
}

.characterPreview {
    float: left;
}

.equipment {
    position: relative;
}

.equipment > .hat {
    position: absolute;
    left: 90px;
    top: 20px;
}
.equipment > .armor {
    position: absolute;
    left: 90px;
    top: 80px;
}
.equipment > .boots {
    position: absolute;
    left: 90px;
    top: 140px;
}
.equipment > .weapon {
    position: absolute;
    left: 30px;
    top: 90px;
}
.equipment > .shield {
    position: absolute;
    left: 150px;
    top: 90px;
}

.icon {
    background-image: url('gfx/iconSet.png');
    background-size: 620px 140px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: -200px -80px;
}

.equipmentSlot {
    border: 1px solid black;
    min-height: 50px;
    min-width: 50px;
}
.icon.armor {
    background-position: -20px -20px;
}
.icon.bow {
    background-position: -80px -20px;
}
.icon.club {
    background-position: -140px -20px;
}
.icon.shield {
    background-position: -320px -20px;
}
.icon.sword {
    background-position: -380px -20px;
}
.icon.boots {
    background-position: -440px -20px;
}
.icon.item {
    background-position: -500px -20px;
}
.icon.hat {
    background-position: -560px -20px;
}
.icon.axe {
    background-position: -20px -80px;
}
.icon.wand {
    background-position: -80px -80px;
}
.icon.anvil {
    background-position: -140px -80px;
}

.toolTip {
    position: absolute;
    padding: 5px;
    width: 220px;
    font-size: 16px;
    border: 1px solid #204070;
    box-sizing: border-box;
    background-color: rgba(100, 200, 100, .9);
    border-radius: 4px;
    z-index: 100;
}

.adventure {
    display: block;
}